.vscode
backups/
coremods/
crash-reports/
config/spark/
ESM/
fancymenu_data/
journeymap/
ldlib/
local/
logs/
modernfix/
mods/
patchouli_books/
replay_recordings/
saves/
screenshots/
server-resource-packs/
.qmenu_opened.marker
emi.json
icon.png
imgui.ini
observable_announce
options.txt
patchouli_data.json
rhino.local.properties
TrashSlotSaveState.json
usercache.json
usernamecache.json
